<div class="container p-3">
  <p-table [value]="taskGroups">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="userTasks.length">Number of tasks <p-sortIcon field="userTasks.length"></p-sortIcon>
        </th>
        <th style="width: 8rem"></th>
        <th style="width: 8rem"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter placeholder="Search by name" type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="userTasks.length"></p-columnFilter>
        </th>
        <th colspan="2">
          <button pButton pRipple type="button" routerLinkActive [routerLink]="['/group', 0]" label="Create new task group" class="p-button-raised p-button-info p-button-text"></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-group>
      <tr>
        <td>{{group.name}}</td>
        <td *ngIf="group.userTasks !== null">{{group.userTasks.length}}</td>
        <td><button pButton pRipple type="button" (click)="deleteTaskGroup(group.id)" label="Delete" class="p-button-raised p-button-danger p-button-text"></button></td>
        <td><button pButton pRipple type="button" routerLinkActive [routerLink]="['/group', group.id]" label="Edit" class="p-button-raised p-button-warning p-button-text"></button></td>

      </tr>
    </ng-template>
  </p-table>
</div>
